<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Document</title>
<!--    将您的静态资源路径从相对路径改为使用 S3 基础 URL-->
    <link rel="icon" href="{{s3BaseUrl}}/favicon.ico" />
    <script defer="defer" src="{{s3BaseUrl}}/scripts/runtime.ea156.bundule.js"></script>
    <script defer="defer" src="{{s3BaseUrl}}/scripts/main.7aeb7.bundule.js"></script>
    <link href="{{s3BaseUrl}}/styles/main.4cd8a.css" rel="stylesheet" />
  </head>
  <body>
    HI {{data}}

    <hr />
    <div id="app">loading....</div>
    <!-- <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker
            .register('/service-worker.js')
            .then((registration) => {
              console.log('SW registered:', registration.scope);
            })
            .catch((error) => {
              console.log('SW registration failed:', error);
            });
        });
      }
    </script> -->
  </body>
</html>
